<ion-content>
  <ion-slides [pager]=true>

    <ion-slide>
      <div class="slide">
        <img src="assets/1.jpg" />
        <h2>Welcome To Wobb !</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione iste sapiente eius, fugiat perspiciatis
        </p>
      </div>
    </ion-slide>




    <ion-slide>
      <img src="assets/2.jpg" />
      <h2>Ready to Discover?</h2>
      <ion-button (click)="continue()" fill='clear' style="color:red">Continue <ion-icon slot="end"
          name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>